ul li {
  list-style: none;
}

.App {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #ccc;
}
.left-menu {
  position: absolute;
  width: 300px;
  top: 0;
  bottom: 0;
  background: #f8f8f8;
}
.menu-item {
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.menu-item:hover {
  background-color: azure;
}

.content {
  position: absolute;
  top: 20px;
  left: 320px;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #ccc;
  padding: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.scroll-enter {
  left: 400px;
  opacity: 0;
}
.scroll-enter-active {
  left: 320px;
  opacity: 1;
  transition: all 500ms;
}
.scroll-exit {
  opacity: 1;
  left: 320px;
}
.scroll-exit-active {
  opacity: 0;
  left: 280px;
  transition: all 500ms;
}
